.competitions-container {
  background-color: #0c0c18;
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-competing-container {
  width: 90vw;
  height: 100vh;
  margin-top: 13vh;
}
.competition-heading {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.5em;
  color: rgba(233, 233, 233, 0.8);
}
.competitions-box{
  height: 100vh;
}
.competitions-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.competitions-card{
  margin-top: 3vh;
}